.container {
  max-width: 1280px !important;

  .grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 0 !important;
    justify-content: center;

    .card {
      margin: auto;
      width: 290px;

      .card-title {
        font-size: 18px;
        font-weight: bold;
        overflow: hidden;
        height: 30px;
      }

      .card-text {
        height: 50px;
      }

      .btn {
        &:focus,
        &:hover {
          outline: none !important;
          box-shadow: inset 0 0 0 #ddd !important;
        }
      }
    }
  }
}